{% extends 'utilizador/layout.html' %}
{% block content %}

{% load crispy_forms_tags %}



		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Post Vaga </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
                            <div class="row">
                                <div class="  col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header p-4">
                                             <a class="pt-2 d-inline-block" href="index.html">Kompleta Formulariu</a>
                                           
                                            <div class="float-right"> <h3 class="mb-0">Invoice #1</h3>
                                            	{% if messages %}
													{% for message in messages %}
														{{message}}
													{% endfor %}
												{% endif %}
											</div>
                                        </div>
                                        <div class="card-body">
                                       
                            {% crispy form %}
                                        </div>
                                        <div class="card-footer bg-white">
                                            <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
						
						</div>
						<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
						<script>
							$(document).ready(function () {

								// Sembunyikan leavetype dan nonaktifkan secara awal
								$('#id_leavetype').closest('.form-group').hide();
								$('#id_leavetype').prop('disabled', true);
								
								// Sembunyikan start_date dan nonaktifkan secara awal
								$('#id_start_date').closest('.form-group').hide();
								$('#id_start_date').prop('disabled', true);

								// Sembunyikan end_date dan nonaktifkan secara awal
								$('#id_end_date').closest('.form-group').hide();
								$('#id_end_date').prop('disabled', true);

								// Sembunyikan start_work_date dan nonaktifkan secara awal
								$('#id_start_work_date').closest('.form-group').hide();
								$('#id_start_work_date').prop('disabled', true);

								// Sembunyikan start_work_date dan nonaktifkan secara awal
								$('#id_is_afternoon').closest('.form-group').hide();
								$('#id_is_afternoon').prop('disabled', true);
							
								// Pada perubahan category
								$('#id_category').change(function () {
									if ($(this).val() === '0') {
										// Jika Part Day dipilih, aktifkan start_date dan start_work_date, sembunyikan end_date
										$('#id_leavetype').prop('disabled', false).closest('.form-group').show();
										$('#id_start_date').prop('disabled', false).closest('.form-group').show();
										$('#id_is_afternoon').prop('disabled', false).closest('.form-group').hide();
										$('#id_end_date').prop('disabled', true).closest('.form-group').hide();
										$('#id_start_work_date').prop('disabled', false).closest('.form-group').show();
									} else if ($(this).val() === '1') {
										// Jika Multiple Days dipilih, aktifkan start_date, end_date, dan start_work_date
										$('#id_leavetype').prop('disabled', false).closest('.form-group').show();
										$('#id_start_date').prop('disabled', false).closest('.form-group').show();
										$('#id_is_afternoon').prop('disabled', false).closest('.form-group').hide();
										$('#id_end_date').prop('disabled', false).closest('.form-group').show();
										$('#id_start_work_date').prop('disabled', false).closest('.form-group').show();
									}else if ($(this).val() === '2') {
										// Jika Half Day dipilih, aktifkan start_date, sembunyikan end_date dan start_work_date
										$('#id_leavetype').prop('disabled', false).closest('.form-group').show();
										$('#id_start_date').prop('disabled', false).closest('.form-group').show();
										$('#id_is_afternoon').prop('disabled', false).closest('.form-group').show();
										$('#id_end_date').prop('disabled', true).closest('.form-group').hide();
										$('#id_start_work_date').prop('disabled', true).closest('.form-group').hide();
									}else {
										// Jika Multiple Days dipilih, aktifkan start_date, end_date, dan start_work_date
										$('#id_leavetype').prop('disabled', false).closest('.form-group').hide();
										$('#id_start_date').prop('disabled', false).closest('.form-group').hide();
										$('#id_is_afternoon').prop('disabled', false).closest('.form-group').hide();
										$('#id_end_date').prop('disabled', true).closest('.form-group').hide();
										$('#id_start_work_date').prop('disabled', true).closest('.form-group').hide();
									}
								});
								// Pada perubahan is_afternoon
								$('#id_is_afternoon').change(function () {
									if ($(this).prop('checked')) {
										// Jika is_afternoon samadengan Afternoon, aktifkan start_work_date
										$('#id_start_work_date').prop('disabled', false).closest('.form-group').show();
									}else {
										// Jika is_afternoon samadengan Morning, nonaktifkan start_work_date
										$('#id_start_work_date').prop('disabled', false).closest('.form-group').hide();
									}
								});
							});
						  </script>
						  



{% endblock content %}